.hide-overflow {
  overflow: hidden !important;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 0 200px;
  gap: 30px;
  padding-top: 30px;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    display: flex;
    gap: 20px;

    button {
      padding: 5px 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }
  }
}
